---
import Layout from 'src/layouts/Layout.astro';
import { Banner, Nosotros, Servicios, Footer } from '@sections/index';
---

<Layout title="DOBLE V 3D">
  <main class="bg-slate-50">
    <Banner />
    <Servicios />
    <Nosotros />
    <Footer />
  </main>
</Layout>
