---
import { Logo } from '@components/Images';
import { MenuIcon } from '@components/Icons';
---

<header class="w-full bg-white shadow-lg mb-1">
  <section class="flex justify-between max-w-7xl mx-auto items-center px-3 xl:px-0">
    <Logo />
    <div class="md:hidden block" id="burgerMenu">
      <MenuIcon size={40} />
    </div>
    <nav
      class="md:block hidden md:relative absolute left-0 md:top-0 top-[70px] md:bg-transparent bg-slate-300 md:shadow-none shadow-lg p-5 md:w-auto w-full"
      id="menu"
    >
      <ul class="flex flex-col md:flex-row items-center gap-9">
        <li><a href="#servicios" class="font-semibold hover:opacity-45">Servicios</a></li>
        <li><a href="#nosotros" class="font-semibold hover:opacity-45">Nosotros</a></li>
        <li>
          <a
            href="#"
            class="rounded-full border-slate-300 border-2 py-3 px-5 hover:bg-slate-200 hover:border-slate-600 font-semibold"
          >
            Contáctanos
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>

<script>
  const button = document.querySelector('#burgerMenu') as Element;
  const menu = document.querySelector('#menu') as Element;

  button.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });

  window.addEventListener('resize', () => {
    const width = window.screen.width;

    if (width >= 767) menu.classList.remove('hidden');
    else menu.classList.add('hidden');
  });

  menu.addEventListener('click', () => {
    menu.classList.add('hidden');
  });
</script>
