<div>
  <div class="w-full bg-slate-900 p-10 mt-10 mb-20" id="nosotros">
    <p
      class="text-slate-200 max-w-6xl mx-auto lg:text-2xl text-xl text-center italic font-semibold"
    >
      Nuestra empresa se especializa en impresión 3D de alta calidad, ofreciendo soluciones
      personalizadas para diversas industrias. Utilizamos tecnología de vanguardia para crear
      prototipos, piezas funcionales y productos innovadores. Nuestro equipo de expertos trabaja de
      la mano con los clientes para transformar ideas en realidades tangibles, garantizando
      precisión y satisfacción en cada proyecto.
    </p>
  </div>
</div>
